
<div class="container">
  <form [formGroup]="formularioLogin" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Email:</label>
      <input formControlName="correo" type="text" class="form-control" id="username">
      <div *ngIf="formularioLogin.controls['correo'].valid" class="valido">Campo correcto</div>
      <div *ngIf="formularioLogin.controls['correo'].errors?.['required'] && formularioLogin.controls['correo'].touched" class="invalido">El campo correo no puede ser vacio</div>
      <div *ngIf="formularioLogin.controls['correo'].errors?.['email']" class="invalido">El campo correo tiene un formato incorrecto</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="contrasena" type="password" class="form-control" id="password">
      <div *ngIf="formularioLogin.controls['contrasena'].valid" class="valido">Contraseña correcta</div>
      <div *ngIf="formularioLogin.controls['contrasena'].errors?.['required'] && formularioLogin.controls['contrasena'].touched " class="invalido">Campo contraseña no puede estar vacio</div>
      <div *ngIf="formularioLogin.controls['contrasena'].errors?.['minlength'] && formularioLogin.controls['contrasena'].touched" class="invalido">Campo contraseña debe tener al menos 8 caracteres</div>
    </div>
    <button type="submit" [ngClass]="formularioLogin.status === 'VALID' ? 'btn btn-primary' : 'btn btn-secondary'">Submit</button>
  </form>
</div>
